.page {
  height: 100%;
  min-width: 320px;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr;

  min-height: 100%;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  color: $lightest-text-color;

  background-color: $basic-background-color;
}
