//Color-scheme

$accent-color: #fa2828;
$light-accent-color: rgba(#ff5252, 0.98);

$basic-background-color: #363232;
$light-background-color: #4d4747;
$lightest-background-color: #c4c4c4;

$lightest-text-color: #ffffff;
$light-text-color: #e5e5e5;
$dark-text-color: #c4c4c4;
$basic-text-color: #988f8f;
$darkest-text-color: #000000;

$border-color: #c4c4c4;

$shadow-color: #000000;

//Breakpoints
$desktop-width: 1440px;
$tablet-width: 768px;

